.cont-logo{
  position: relative;
    z-index: 1;
  text-align:center;
  background-color:#091233;
  padding: 28px 10px;
}
.cont-logo>img{
  width: 361px;
}
.fondo{
    top: 0;
    width: 100%;
    height: 84vh;
  background-image: url(img/fondo.jpg);
  display: block;
  background-position: top;
  background-position-y: -138px;
  background-repeat: no-repeat;
  background-size: cover;
}
.pasto{
  width: 100%;
  height: 50px;
  background-image: url(img/pasto.png);
  position: absolute;
  z-index: 1;
  bottom: 0px;
  background-size: contain;
}
.player-img{
      max-width: 110%;
}
.img-bale{
  position: relative;
      -webkit-animation-name: entradaTriangle; /* Safari 4.0 - 8.0 */
      -webkit-animation-timing-function: ease;
      animation-timing-function: ease;
      -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
      animation-name: entradaTriangle;
      animation-duration: 1s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes entradaTriangle {
  0%   {top:200px; bottom:0px;}
  100% {top:0px; bottom:500px;}
}
/* Standard syntax */
@keyframes entradaTriangle {
  0%   {top: 478px;}
  100% {top:0px;}
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes entradaKoke {
  0%   {top:464px;}
  50%   {top:464px;}
  100% {top:-15px;}
}
/* Standard syntax */
@keyframes entradaKoke{
  0%   {top: 483px;}
  50%   {top: 483px;}
  100% {top: -12px;}
}
.img-koke{
  position: relative;
right: 119px;
top: -12px;
      -webkit-animation-name: entradaKoke; /* Safari 4.0 - 8.0 */
      -webkit-animation-timing-function: ease;
      animation-timing-function: ease;
      -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
      animation-name: entradaKoke;
      animation-duration: 2s;
}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes entradaPogba {
  0%   {top:465px;}
  50%   {top:465px; bottom:0px;}
  100% {top:0px; bottom:0px;}
}
/* Standard syntax */
@keyframes entradaPogba{
  0%   {top: 213px}
  50%   {top: 213px}
  100% {top:0px}
}
.img-pogba{
  position: relative;
      left: 67px;
  -webkit-animation-name: entradaPogba; /* Safari 4.0 - 8.0 */
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
  animation-name: entradaPogba;
  animation-duration: 1.5s;
}
.jugadores{

}
.container-fluid {
    height: inherit;
}
.contenedor-fondo{
  height: inherit;
}
.contenedor-jugadores{
  display: flex;
    height: 100%;
    align-items: flex-end;
}
.player-left{

}
.player-center{
  left: 133px;
  z-index: 1;
}
.player-right{
left: 293px;
}
.player-conteiner{
  display: inline-block;
}
footer{
  position: relative;
  z-index: 2;
  background:#000b00;
}
.footer-items{
  padding-top: 100px;
}
.lista-footer{
      font-size: 14px;
  padding: 0;
color: white;
}
.lista-footer li{
      list-style: none;
      margin-bottom: 5px;
}
.item-footer-label{
    font-size: 20px;
    color: #cfa101;
}
.boton-deportes{
  cursor: pointer;
  position:relative;
  margin-bottom: 22px;
  max-width: 58%;
}
.botones{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.botones img{
      width: 100%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -webkit-border-radius: 25px;
  border-radius: 25px;

}
.label-boton{
width: 100%;
color: white;
background: #050b23;
position: absolute;
bottom: -17px;
text-align: center;
font-size: 30px;
padding: 4px 0px;
-webkit-transition: background-color .8s ease-out;
-moz-transition: background-color .8s  ease-out;
-o-transition: background-color .8s  ease-out;
transition: background-color .8s  ease-out;

-webkit-transition: color .8s ease-out;
-moz-transition: color .8s  ease-out;
-o-transition: color .8s  ease-out;
transition: color .8s  ease-out;
}
.boton-deportes:hover .label-boton{
  background-color:white;
  color:#050b23;
}
.linea-footer{
  margin: 64px 0px;
  width: 100%;
height: 2px;
border-bottom: 1px solid #ffffff40;
}
.redes-footer{
      margin: 55px 0px;
  text-align: center;
}
.redes-footer img{
  margin-right: 10px;
  width:65px;
}
.copy{
  text-align: center;
  color: white;

}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes entradaFlash {

}
/* Standard syntax */
@keyframes entradaFlash{

}
.flash{
  position: relative;
    width: 100%;
}
@keyframes blinker {
  50% { opacity: 0; }
}
.flash-img{
width: 355px;
position: absolute;
left: 133px;
top: 33px;
}
.flash-animation{
  animation: blinker 2s linear infinite;
}
